<h2>На сайте был создан <a href="http://venki-spb.ru/orders/<%= @order.id%>">заказ</a> <%= @order.created_at.getlocal.strftime("%Y-%m-%d %H:%M") %></h2>

<h3>Заказчик: <%= @order.full_name %> </h3>

<h3>Телефон: <%= @order.phone %></h3>

<% if @order.email && !@order.email.empty? %>
    <b>Email:</b> <%= @order.email %> <br/>
<% end %>

<% if @order.delivery %>
    <b>Доставка: включена</b><br/>
<% else %>
    <b>Доставка: не нужна</b><br/>
<% end %>


<% if @order.address && !@order.address.empty? %>
    <b>Адрес доставки:</b> <%= @order.address %> <br/><br/>
<% end %>

<% if @order.notes && !@order.notes.empty? %>
    <b>Дополнительнительные пожелания:</b> <%= @order.notes %> <br/><br/>
<% end %>

<% basket = @order.basket %>
<% if basket && basket.basket_items.size > 0 %>
    <table border="1">
      <tr>
        <th>Артикль</th>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Цена за штуку</th>
        <th>Стоимость</th>
      </tr>
      <% basket.basket_items.each() do |item| %>
          <tr>
            <td><%= item.product.article %></td>
            <td><%= item.product.name %></td>
            <td><%= item.count %></td>
            <td><%= item.product.formatted_retail_price %></td>
            <td><%= sprintf("%u р", item.count * item.product.retail_price) %></td>
          </tr>
      <% end %>
    </table><br/><br/>
<% else %>
    <p class="big-text">Корзина пуста. Такого быть не может - это ошибка в сайте.</p>
<% end %>

<b>Полная сумма заказа:</b> <%= @order.basket.formatted_summary_price %> <br/>

<b>Полная сумма заказа с доставкой:</b> <%= @order.formatted_full_order_price %> <br/><br/>

С Уважением, <br/>Администратор сайта