<script src="/javascripts/admin.js"></script>

<div class="admin-area">

  <div class="right-button">
    <form class="button_to" action="/clean" method="get">
      <input type="submit" value="Очистить старые заказы">
    </form>
  </div>

  <table>
    <tr>
      <th>Дата</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Доставка</th>
      <th>Статус</th>
      <th colspan="2">Управление</th>
    </tr>

    <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.getlocal.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= order.full_name %></td>
          <td><%= order.phone %></td>
          <td><%= order.delivery %></td>
          <td><%= order.state %></td>
          <td><%= link_to 'Показать', order %></td>
          <td><%= link_to 'Удалить', order, method: :delete %></td>
        </tr>
    <% end %>
  </table>


</div>
