<%= form_for(@page) do |f| %>
    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label "Адрес страницы" %>
      <br/>
      <%= f.text_field :reference %>
    </div>

    <div class="field">
      <%= f.label "Имя страницы" %>
      <br/>
      <%= f.text_field :title %>
    </div>

    <%= fields_for :revision do |r| %>
        <script type="text/javascript">print_toolbar();</script>
        <%= r.text_area :content, :cols => 180, :rows => 20, :id => "f_text" %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
