<div class="wide-form">

  <%= form_for(@feedback_mail) do |f| %>
      <% if @feedback_mail.errors.any? %>
          <div id="error_explanation">
            <h2>Сообщение не может быть отправлено:</h2>
            <ul>
              <% @feedback_mail.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= label_tag "Ваш почтовый ящик *" %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= label_tag "Ваше имя *" %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= label_tag "Телефон" %>
        <%= f.text_field :phone %>
      </div>
      <div class="field">
        <%= label_tag "Сообщение" %>
        <%= f.text_area :message, :rows=>20, :cols=>113 %>
      </div>
      <div class="actions">
        <%= f.submit 'Отправить' %>
      </div>
  <% end %>

</div>
