<script src="/javascripts/admin.js"></script>

<div class="big-table">

  <div class="right-button">
    <form class="button_to" action="/depot_items/new" method="get">
      <input type="submit" value="Добавить">
    </form>
  </div>

<table>
  <tr>
    <th>Наименование товара</th>
    <th>Количество на складе</th>
    <th>Зарезервировано</th>
    <th colspan="2">Управление</th>
  </tr>

<% @depot_items.each do |depot_item| %>
  <tr>
    <td><%= depot_item.product.name %></td>
    <td><%= depot_item.count %></td>
    <td><%= depot_item.hold_count %></td>
    <td><%= link_to 'Edit', edit_depot_item_path(depot_item) %></td>
    <td><%= link_to 'Destroy', depot_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>