<div class="wide-form">

  <%= form_for(@product, :html => {:multipart => true}) do |f| %>
      <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label "Артикль" %>
        <%= f.text_field :article, :size => 6, :maxlength => 6 %>
      </div>
      <div class="field">
        <%= f.label "Название" %>
        <%= f.text_field :name, :size => 50, :maxlength => 50 %>
      </div>
      <div class="field">
        <%= f.label "Высота (3 цифры)" %>
        <%= f.text_field :height, :size => 10, :maxlength => 10 %>
      </div>
      <div class="field">
        <%= f.label "Ширина (3 цифры)" %>
        <%= f.text_field :width, :size => 10, :maxlength => 10 %>
      </div>
      <div class="field">
        <%= f.label "Описание" %>
        <%= f.text_area :notes, :rows => 6, :size => 255, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label "9 мая" %>
        <%= f.text_field :may9, :size => 2, :maxlength => 2 %>
      </div>
      <div class="field">
        <%= f.label "Маленькое фото" %>
        <%= f.file_field :small_img %>
      </div>
      <div class="field">
        <%= f.label "Болшое фото" %>
        <%= f.file_field :medium_img %>
      </div>
      <div class="field">
        <%= f.label "Очен болшое фото" %>
        <%= f.file_field :big_img %>
      </div>
      <div class="field">
        <%= f.label "Оптовая Цена" %>
        <%= f.text_field :price, :size => 6, :maxlength => 6 %>
      </div>
      <div class="field">
        <%= f.label "Розничная Цена" %>
        <%= f.text_field :retail_price, :size => 6, :maxlength => 6 %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>

</div>
