<script src="/javascripts/admin.js"></script>

<div class="big-table">

  <div class="right-button">
    <form class="button_to" action="/products/new" method="get">
      <input type="submit" value="Добавить">
    </form>
  </div>

  <table id="products-editor-table">
    <tr>
      <th>Артикль</th>
      <th>9 мая</th>
      <th>Имя</th>
      <th>Опт</th>
      <th>Розница</th>
      <th>Маленькое фото</th>
      <th>Большое фото</th>
      <th>Фото без обработки</th>
      <th colspan="3">Управление</th>
    </tr>

    <% @products.each do |product| %>
        <tr>
          <td class="article"><%= product.article %></td>
          <td class="article"><%= product.may9 %></td>
          <td class="name"><%= product.name %></td>
          <td class="price"><%= product.price.to_s + 'р.' %></td>
          <td class="price"><%= product.retail_price.to_s + 'р.' %></td>
          <!-- TODO: check if file exist -->
          <td><%= "+" if product.small_img.file  %></td>
          <td><%= "+" if product.medium_img.file  %></td>
          <td><%= "+" if product.big_img.file %></td>
          <td class="manage"><%= link_to 'Показать', product %></td>
          <td class="manage"><%= link_to 'Изменить', edit_product_path(product) %></td>
          <td class="manage"><%= link_to 'Удалить', product, :method => :delete %></td>
        </tr>
    <% end %>
  </table>

</div>
