<div class="product-item">
  <a class="thumb" href="<%= @product.medium_img %>">
    <img src="<%= @product.small_img %>" alt="Траурный венок <%= @product.name %>" width="135" height="180">
  </a>

  <div class="details">
    <a href="<%= @product.medium_img %>">Купить</a>
    <div class="price"><span><%= sprintf("%u р", @product.retail_price) %></span></div>
    <div class="description"><%= @product.name %></div>
    <div class="size"><%= product_size @product %></div>
  </div>
</div>

<div class="text-block">
  <img src="<%= @product.medium_img %>">
  <p>
    <%= @product.notes %>
  </p>
</div>

  <%= link_to 'Редактировать', edit_product_path(@product) %> |
  <%= link_to 'Назад', products_path %>
