<div class="product-item">
  <a class="thumb" href="<%= @product.medium_img %>">
    <img src="<%= @product.small_img %>" alt="Траурный венок <%= @product.name %>" width="233" height="311">
  </a>

  <div class="details">
    <a href="<%= @product.medium_img %>">Купить</a>
    <div class="price"><span><%= @product.formatted_retail_price %></span></div>
    <div class="description"><%= @product.name %></div>
    <div class="size"><%= product_size @product %></div>
  </div>
</div>

<div class="text-block">
  <img src="<%= @product.medium_img %>"  height="400" width="300">
  <h3> <%= @product.name %></h3>
  <p>
    <% if @product.notes %>
        <%= @product.notes %>
    <% else %>
        Описание отсутствует
    <% end %>
  </p>
  <p>
    Размер изделия: <%= product_size @product %>
  </p>

  <% if(@product.big_img.file) %>
  <p>
    <a href="<%= @product.big_img.url %>">Фото высокого разрешения без обработки</a>
  </p>
  <% end %>

  <p>
    Стоимость: <%= @product.formatted_retail_price %>
  </p>

  <p>
    <a href="/basket">Корзина пуста</a>
  </p>

</div>

  <%= link_to 'Редактировать', edit_product_path(@product) %> |
  <%= link_to 'Назад', products_path %>
