<script src="/javascripts/jquery/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery/obelisk.js" type="text/javascript"></script>
<script type='text/javascript'>
    jQuery.noConflict();
    hover_button(".buy-link", "/images/cart-icon.png", "/images/cart-put-icon.png")
</script>


<div class="productcontent">

<% @products.each do |product| %>
    <div class="product-block">
      <div class="product-name">
        <a href="<%= product.big_image_name %>" rel="lightbox[v1]"><%= product_full_name product %></a>
      </div>
      <div class="product-description">
        <%=raw product.notes %>
      </div>
      <div class="product-image">
        <a href="<%= product.big_image_name %>" rel="lightbox[v2]"><img src="<%= product.small_image_name %>" alt="Траурный венок <%= product.name %>" /></a>
      </div>
      <div class="product-extra-foto">
        <%=raw show_extra_image_ref product %>
      </div>
      <div class="product-size">
        Размер:&nbsp;<%= product_size product %>
      </div>
      <div class="product-cost">
        Цена: <%= sprintf("%u р", product.price) %>
      </div>
    </div>
<% end %>

</div>

<br class="clear" />

<%= will_paginate @products, :previous_label=>"Назад", :next_label => "Вперед" %>

<div class="cleaner">&nbsp;</div>