<div class="product-grid">

<% @products.each do |product| %>
    <div class="product-item">
      <a class="thumb" href="<%= product.big_image_name %>">
        <img src="<%= product.small_image_name %>" alt="Траурный венок <%= product.name %>" width="135" height="180">
      </a>

      <div class="details">
        <a href="<%= product.big_image_name %>">Купить</a>
        <div class="price"><span><%= sprintf("%u р", product.price) %></span></div>
        <div class="description"><%= product.name %></div>
        <div class="size"><%= product_size product %></div>
      </div>
    </div>
<% end %>

</div>

<br class="clear" />

<%= will_paginate @products, :previous_label=>"Назад", :next_label => "Вперед" %>

