<div class="product-grid">

<% @products.each do |product| %>
    <div class="product-item">
      <a class="thumb" href="<%= product.big_img.url %>">
        <img src="<%= product.small_img.url %>" alt="Траурный венок <%= product.name %>" width="135" height="180">
      </a>

      <div class="details">
        <a href="<%= show_link product %>">Купить</a>
        <div class="price"><span><%= sprintf("%u р", product.retail_price) %></span></div>
        <div class="description"><%= product.name %></div>
        <div class="size"><%= product_size product %></div>
      </div>
    </div>
<% end %>

</div>

<br class="clear" />

<%= will_paginate @products, :previous_label=>"Назад", :next_label => "Вперед" %>

