<link rel="stylesheet" href="/stylesheets/colorbox.css" />

<script src="/javascripts/jquery.colorbox-min.js"></script>

<script src="/javascripts/jquery.lazyload.min.js" type="text/javascript"> </script>

<script src="/javascripts/store.js"></script>

<div class="product-grid">

<% @products.each do |product| %>
    <div class="product-item">

      <% if (DEPOT.availiable(product.id) > 0) %>
        <div class="present"></div>
      <% else %>
        <div class="absent"></div>
      <% end %>

      <a class="thumb" href="<%= product.medium_img.url %>">
        <img src="/images/grey.gif" data-origin="<%= product.small_img.url %>" alt="Траурный венок <%= product.name %>" width="135" height="180">
      </a>

      <div class="details">
        <a href="<%=raw product.link %>">Купить</a>
      </div>

      <div class="price"><span><%= product.formatted_retail_price %></span></div>

      <div class="description"><%= product.name %></div>

      <div class="size"><%= product_size product %></div>

    </div>
<% end %>

</div>

<br class="clear" />

