<link rel="stylesheet" type="text/css" href="/stylesheets/colorbox.css" />

<script type="text/javascript" src="/javascripts/jquery.colorbox-min.js"></script>

<script type="text/javascript" src="/javascripts/jquery.lazyload.min.js"></script>

<script type="text/javascript" src="/javascripts/store.js"></script>

<div class="product-grid">

<% @products.each do |product| %>
    <div class="product-item">

      <div class="id <%= product.id %>"></div>

      <a class="thumb" href="<%= product.medium_img.url %>">
        <!-- todo : fix small image when images ready-->
        <img src="/images/grey.gif" data-original="<%= product.medium_img.url %>" alt="Траурный венок <%= product.name %>" width="233" height="311">
      </a>

      <div class="details">
        <a class="buyButton<%= product.id %> buy-button" href="<%=raw product.link %>">Купить</a>
        <a class="absentText<%= product.id %> absent-text" href="<%=raw product.link %>">Описание</a>
      </div>

      <div class="price"><span><%= product.formatted_retail_price %></span></div>

      <div class="description"><%= product.name %></div>

      <div class="size"><%= product_size product %></div>

    </div>
<% end %>

</div>

<br class="clear" />

