<div class="whole-main-columns">
  <% @whole_products.each do |product| %>
      <div class="whole-article"><%= product.article %></div>
      <div class="whole-name"><a href="<%= product.big_image_name %>" rel="lightbox"><%= product.name %></a></div>
      <div class="whole-price"><%= sprintf("%u р", product.price) %></div>
  <% end %>
</div>

<div class="whole-count-column">
  <% @whole_products.each do |product| %>
      <div class="whole-count">
        <%= form_tag("/set_number_of_product_in_basket?article="+product.article, :remote => true) do %>
            <select name="selected_product_number" onchange='this.form.commit.click();'>
              <%= raw print_count_options(0, 20, @basket.get_product_count(product)) %>
            </select>
            <%= submit_tag 'Opslaan', :name => 'commit', :style => 'display: none;' %>
        <% end %>
      </div>
  <% end %>
</div>