<script type="text/javascript" src="/javascripts/show_product.js"></script>

<div class="text-block">

  <img src="<%= @product.medium_img %>" height="400" width="300">

  <h3> <%= @product.name %></h3>

  <p>
    <% if @product.notes %>
        <%= raw @product.notes %>
    <% else %>
        Описание отсутствует
    <% end %>
  </p>

  <p>
    Размер изделия: <%= product_size @product %>
  </p>

  <% if @product.big_img.file %>
      <p>
        <a href="<%= @product.big_img.url %>">Фото высокого разрешения без обработки</a>
      </p>
  <% end %>

  <% depot_count = DEPOT.availiable @product.id %>

  <% if depot_count > 0 %>
      <p>Количество на складе - <%= depot_count %></p>
  <% else %>
      <p class="big-text">Нет на складе</p>
  <% end %>

  <p>
    Стоимость: <%= sprintf("%u р", @product.retail_price) %>
  </p>

  <p class="big-text hide" id="depotIsLack">
    Внимание: на складе недостаточно изделий. Пожалуйста, уточните сроки доставки.
  </p>

  <div class="basket-form">
    <!--used in javascript-->
    <input id="productId" type="number" value="<%= @product.id %>" hidden="true">
    <input id="productCount" type="number" value="1" size="1">
    <% if depot_count > 0 %>
        <input id="buy" type="submit" value="">
    <% else %>
        <input id="buy" type="submit" value="" disabled>
    <% end %>

  </div>

  <p class="big-text">
  <div class="field">
    <input id="buyTape" type="checkbox">
    <label>Нужна траурная лента (стоимость 1 ленты 300 р)</label>
  </div>

  <div class="field hide tapeColor">
    <label>Цвет ленты: &nbsp;</label>
    <select class="tapeColorSelector">
      <option value="Черный">Черная</option>
      <option value="Бордо">Бордо</option>
      <option value="Алый">Алая</option>
      <option value="Голубой">Голубая</option>
    </select>
  </div>

  <div class="field hide tapeTextField">
    <label>Текст на траурной ленте <a href="/funeral_tape#how_to_write_text">(как составить текст?)</a></label>
    <textarea class="tapetext tapeTextInput"></textarea>
  </div>
  </p>

  <p class="big-text">
    Итого: <a href="/basket" class="basketInfo"></a>
  </p>

  <br/>
  <form action="/basket" method="link">
    <input id="BasketButtonLink" type="submit" value="Перейти к оформлению заказа">
  </form>

</div>

