<script src="/javascripts/basket.js"></script>

<div class="text-block">

  <img src="<%= @product.medium_img %>"  height="400" width="300">

  <h3> <%= @product.name %></h3>

  <p>
    <% if @product.notes %>
        <%=raw @product.notes %>
    <% else %>
        Описание отсутствует
    <% end %>
  </p>

  <p>
    Размер изделия: <%= product_size @product %>
  </p>

  <% if @product.big_img.file %>
      <p>
        <a href="<%= @product.big_img.url %>">Фото высокого разрешения без обработки</a>
      </p>
  <% end %>

  <p>Количество на складе - неизвестно</p>

  <p>
    Стоимость: <%= sprintf("%u р", @product.retail_price) %>
  </p>

  <p>
    <a href="/basket" class="basketInfo"></a>
  </p>

  <div class="basket-form">
    <input id="productId" type="number" value="<%= @product.id %>" hidden="true">
    <input id="productCount" type="number" value="1" size="1">
    <input id="buy" type="submit" value="В корзину">
  </div>

</div>
